<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.AttendUserMapper">

    <select id="getAttendUserNumByProjectId" resultType="java.util.HashMap">
        select count(id) as attend_user_num
        from attend_user
        where project_id=#{projectId}
    </select>

    <select id="attendId" resultType="java.util.HashMap">
        select id
        from attend_user
        where project_id=#{projectId} and user_id=#{userId}
    </select>
    
    <select id="getRecentAttendUser" resultType="java.util.HashMap">
        select avatar_url
        from attend_user,user_info
        where attend_user.user_id =user_info.id and project_id=#{projectId}
        order by attend_time desc
        limit 0,3
    </select>

    <select id="getAttendUser" resultType="java.util.HashMap">
        select id,user_id,date_format(attend_time,'%Y-%m-%d') attend_time
        from attend_user
        where project_id= #{project_Id}
    </select>

    <insert id="joinInProject" parameterType="com.miniprogram.entity.AttendUser">
        insert into attend_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                project_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="isCreator != null">
                is_creator,
            </if>
            <if test="attendTime != null">
                attend_time,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="isCreator != null">
                #{isCreator},
            </if>
            <if test="attendTime != null">
                #{attendTime},
            </if>
        </trim>
    </insert>
</mapper>