<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.AttendUserMapper">

    <resultMap type="com.miniprogram.entity.AttendUser" id="AttendUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="isCreator" column="is_creator" jdbcType="INTEGER"/>
        <result property="attendTime" column="attend_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getAttendUserNumByProjectId" resultType="java.util.HashMap">
        select count(id) as attend_user_num
        from attend_user
        where project_id=#{projectId}
    </select>


</mapper>