<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.DiaryMapper">

    <resultMap type="com.miniprogram.entity.Diary" id="DiaryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="publisherId" column="publisher_id" jdbcType="INTEGER"/>
        <result property="addressLatitude" column="address_latitude" jdbcType="OTHER"/>
        <result property="addressLongitude" column="address_longitude" jdbcType="OTHER"/>
        <result property="currDiaryPunchCardDayNum" column="curr_diary_punch_card_day_num" jdbcType="INTEGER"/>
        <result property="punchCardAddress" column="punch_card_address" jdbcType="VARCHAR"/>
        <result property="punchCardTime" column="punch_card_time" jdbcType="TIMESTAMP"/>
        <result property="textContent" column="text_content" jdbcType="VARCHAR"/>
        <result property="visibleType" column="visible_type" jdbcType="INTEGER"/>
        <result property="isRepairDiary" column="is_repair_diary" jdbcType="INTEGER"/>
        <result property="haveSticky" column="have_sticky" javaType="INTEGER"/>
    </resultMap>

    <update id="setSticky">
        update diary set have_sticky= #{param2}
        where id= #{param1}
    </update>

    <select id="selectDiaryById" resultType="java.util.HashMap">
        select id,address_latitude,address_longitude,punch_card_address,punch_card_time,text_content
        from diary
        where id=#{diaryId}
    </select>

    <select id="getPunchCardNumByProjectId" resultType="java.util.HashMap">
        select count(id) as all_punch_card_num
        from diary
        where project_id=#{projectId}
    </select>

    <select id="selectDiaryByProject" resultType="java.util.HashMap">
        select diary.id,address_latitude,address_longitude,punch_card_address,punch_card_time,text_content,curr_diary_punch_card_day_num,
        is_repair_diary,have_sticky,visible_type
        from diary,project
        where diary.project_id=project.id and project.id=#{ProjectId}
    </select>

    <insert id="addPunchCardDiary" parameterType="com.miniprogram.entity.Diary">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into diary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                project_id,
            </if>
            <if test="publisherId != null">
                publisher_id,
            </if>
            <if test="addressLatitude != null">
                address_latitude,
            </if>
            <if test="addressLongitude != null">
                address_longitude,
            </if>
            <if test="currDiaryPunchCardDayNum != null">
                curr_diary_punch_card_day_num,
            </if>
            <if test="punchCardAddress != null and punchCardAddress != ''">
                punch_card_address,
            </if>
            <if test="punchCardTime != null">
                punch_card_time,
            </if>
            <if test="textContent != null and textContent != ''">
                text_content,
            </if>
            <if test="visibleType != null">
                visible_type,
            </if>
            <if test="isRepairDiary != null">
                is_repair_diary,
            </if>
            <if test="haveSticky!=null">
                have_sticky,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId},
            </if>
            <if test="publisherId != null">
                #{publisherId},
            </if>
            <if test="addressLatitude != null">
                #{addressLatitude},
            </if>
            <if test="addressLongitude != null">
                #{addressLongitude},
            </if>
            <if test="currDiaryPunchCardDayNum != null">
                #{currDiaryPunchCardDayNum},
            </if>
            <if test="punchCardAddress != null and punchCardAddress != ''">
                #{punchCardAddress},
            </if>
            <if test="punchCardTime != null">
                #{punchCardTime},
            </if>
            <if test="textContent != null and textContent != ''">
                #{textContent},
            </if>
            <if test="visibleType != null">
                #{visibleType},
            </if>
            <if test="isRepairDiary != null">
                #{isRepairDiary},
            </if>
            <if test="haveSticky != null">
                #{haveSticky},
            </if>
        </trim>
    </insert>

    <select id="selectDiaryByUserIdAll" resultType="java.util.Map">
        select  diary.id,address_latitude,address_longitude,punch_card_address,punch_card_time,text_content,curr_diary_punch_card_day_num,
        is_repair_diary,have_sticky,visible_type
        from diary
        where diary.publisher_id = #{userId}
    </select>

    <select id="selectDiaryByUserIdVisible" resultType="java.util.HashMap">
        select  diary.id,address_latitude,address_longitude,punch_card_address,punch_card_time,text_content,curr_diary_punch_card_day_num,
        is_repair_diary,have_sticky,visible_type
        from diary
        where diary.publisher_id = #{userId} and visible_type = 1
    </select>

    <delete id="deleteDiaryById" >
        delete from diary
        where id = #{diaryId}
    </delete>

    <select id="selectPunchCardDay" resultType="java.lang.String">
        select DATE_FORMAT(punch_card_time,'%Y-%m-%d') punch_card_day
        from diary
        where publisher_id = #{param1} and project_id =#{param2}
        group by punch_card_day
    </select>

    <select id="projectNum" resultType="java.util.HashMap">
        select count(*) as all_punch_card_num
        from diary
        where project_id=#{projectId}
    </select>
</mapper>