<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.LabelMapper">

    <resultMap type="com.miniprogram.entity.Label" id="LabelMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="labelName" column="label_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        parent_id,
        label_name
    </sql>

    <select id="selectParentLabel" resultType="java.util.HashMap">
        select id ,parent_id,label_name
        from label
        where parent_id=0
    </select>
    <select id="selectAllChildLabel" resultType="java.util.HashMap">
        select id, parent_id,label_name
        from label
        where parent_id != 0
    </select>

    <select id="selectChildLabel" resultType="java.util.HashMap">
        select label.id,label_name
        from (select id from label where label_name = #{parentLabelName}) as parentLabel, label
        where parentLabel.id = label. parent_id
    </select>
</mapper>