<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.LikeMapper">

    <resultMap type="com.miniprogram.entity.Like" id="LikeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="diaryId" column="diary_id" jdbcType="INTEGER"/>
        <result property="admirerId" column="admirer_id" jdbcType="INTEGER"/>
        <result property="isRead" column="is_read" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectLikeByDiaryId" resultType="java.util.HashMap">
        select id,admirer_id
        from like_info
        where diary_id=#{diaryId}
        limit 10
    </select>
    
    <select id="selectLikeRecore" resultType="java.util.HashMap">
        select id as likeRecordId
        from like_info
        where diary_id=#{diaryId} and admirer_id=#{userId}
    </select>

    <insert id="addLikeRecord" parameterType="com.miniprogram.entity.Like">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into like_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="likedUserId != null">
                liked_user_id,
            </if>
            <if test="diaryId != null">
                diary_id,
            </if>
            <if test="admirerId != null">
                admirer_id,
            </if>
            <if test="isRead != null">
                is_read,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="likedUserId != null">
                #{likedUserId},
            </if>
            <if test="diaryId != null">
                #{diaryId},
            </if>
            <if test="admirerId != null">
                #{admirerId},
            </if>
            <if test="isRead != null">
                #{isRead},
            </if>
        </trim>
    </insert>

    <delete id="deleteLikeRecore" >
        delete from like_info
        where id =#{likeRecordId}
    </delete>

</mapper>