<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.LikeMapper">

    <resultMap type="com.miniprogram.entity.Like" id="LikeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="diaryId" column="diary_id" jdbcType="INTEGER"/>
        <result property="admirerId" column="admirer_id" jdbcType="INTEGER"/>
        <result property="isRead" column="is_read" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectLikeByDiaryId" resultType="java.util.HashMap">
        select id,admirer_id
        from like_info
        where diary_id=#{diaryId}
    </select>
    
    <select id="selectLikeRecore" resultType="java.util.HashMap">
        select id as likeRecordId
        from like_info
        where diary_id=#{diaryId} and admirer_id=#{userId}
    </select>


</mapper>