<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.ProjectIntroduceMapper">

    <resultMap type="com.miniprogram.entity.ProjectIntroduce" id="ProjectIntroduceMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="order" column="order" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        content,
        type,
        order
    </sql>
    
    <select id="getProjectIntr" resultType="HashMap">
        select id,content,type,"order"
        from project_introduce
        where project_id=#{projectId}
    </select>

</mapper>