<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.ProjectMapper">

    <resultMap type="com.miniprogram.entity.Project" id="ProjectMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
        <result property="coverImgUrl" column="cover_img_url" jdbcType="VARCHAR"/>
        <result property="creatorId" column="creator_id" jdbcType="INTEGER"/>
        <result property="creatorIntroduce" column="creator_introduce" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="selectByUserId" resultType="java.util.HashMap">
        select project.id,project_name,cover_img_url,creator_id,is_creator
        from project,attend_user
        where project.id =attend_user.project_id and user_id= #{userId}
    </select>
    
    <select id="selectProjectByDiaryId" resultType="java.util.HashMap">
        select project.id,project_name,cover_img_url
        from project,diary
        where diary.id=#{diaryId} and diary.project_id=project.id
    </select>
    
    <insert id="createProject" parameterType="com.miniprogram.entity.Project">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="projectName !=null">
                project_name,
            </if>
            <if test="coverImgUrl !=null">
                cover_img_url,
            </if>
            <if test="creatorId !=null">
                creator_id,
            </if>
            <if test="privacyType !=null">
                privacy_type,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="projectName !=null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="coverImgUrl !=null">
                #{coverImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="creatorId !=null">
                #{creatorId,jdbcType=INTEGER},
            </if>
            <if test="privacyType !=null">
                #{privacyType,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="getProjectInfoById" resultType="java.util.HashMap">
        select project.id,project_name,cover_img_url,creator_id,creator_introduce,nick_name as creator_nick_name,sex as creator_sex,avatar_url as creator_avatar_url,user_info.weixin_Num as weixin_num
        from project,user_info
        where project.creator_id = user_info.id and project.id=#{projectId}
    </select>

    <update id="updateCreatorIntr" >
        update project
        set creator_introduce=#{param2} where id=#{param1}
    </update>

    <update id="updateWeixinNum">
        update user_info,project
        set user_info.weixin_Num = #{param2}
        where user_info.id=project.creator_id and project.id = #{param1}
    </update>

    <update id="updateName">
        update project
        set project_name=#{param2} where id=#{param1}
    </update>

    <select id="getCreatInfo" resultType="java.util.HashMap">
        select creator_introduce,weixin_num
        from user_info,project
        where project.id= #{projectId} and project.creator_id =user_info.id
    </select>

    <select id="selectByType" resultType="java.util.HashMap">
        select project.id,project_name,cover_img_url
        from project,project_label
        where project.id = project_label.project_id and type_label like concat('%', #{typeName},'%')
    </select>
    
    <select id="selectByKeyWord" resultType="java.util.HashMap">
        select project.id,project_name,cover_img_url
        from project
        where project.project_name like concat('%', #{keyWord},'%')
    </select>
</mapper>