<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.ProjectMapper">

    <resultMap type="com.miniprogram.entity.Project" id="ProjectMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
        <result property="coverImgUrl" column="cover_img_url" jdbcType="VARCHAR"/>
        <result property="creatorId" column="creator_id" jdbcType="INTEGER"/>
        <result property="creatorIntroduce" column="creator_introduce" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="selectByUserId" resultType="java.util.HashMap">
        select project.id,project_name,cover_img_url,creator_id,is_creator
        from project,attend_user
        where project.id =attend_user.project_id and user_id= #{userId}
    </select>
    
    <select id="selectProjectByDiaryId" resultType="java.util.HashMap">
        select project.id,project_name,cover_img_url
        from project,diary
        where diary.id=#{diaryId} and diary.project_id=project.id
    </select>
    
    <insert id="createProject" parameterType="com.miniprogram.entity.Project">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="projectName !=null">
                project_name,
            </if>
            <if test="coverImgUrl !=null">
                cover_img_url,
            </if>
            <if test="creatorId !=null">
                creator_id,
            </if>
            <if test="privacyType !=null">
                privacy_type,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="projectName !=null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="coverImgUrl !=null">
                #{coverImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="creatorId !=null">
                #{creatorId,jdbcType=INTEGER},
            </if>
            <if test="privacyType !=null">
                #{privacyType,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


</mapper>