<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.UserInfoMapper">

    <resultMap type="com.miniprogram.entity.UserInfo" id="UserInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="bgImgId" column="bg_img_id" jdbcType="INTEGER"/>
        <result property="personSign" column="person_sign" jdbcType="VARCHAR"/>
        <result property="weixinNum" column="weixin_Num" jdbcType="VARCHAR"/>
        <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        open_id,
        nick_name,
        sex,
        birthday,
        bg_img_id,
        person_sign,
        weixin_Num,
        avatar_url
    </sql>

    <select id="selectByOpenId" resultMap="UserInfoMap">
        select <include refid="Base_Column_List"/>
        from user_info
        where open_id=#{openId}
    </select>

    <insert id="insert" >
        insert into smallpunch.user_info(open_id, nick_name, sex, birthday, bg_img_id, person_sign, weixin_Num, avatar_url)
        values (#{openId}, #{nickName},#{sex}, null,1,null,null,#{avatarUrl})
    </insert>

    <select id="selectById" resultType="java.util.HashMap">
        select id, nick_name, sex
        from user_info
        where user_info.id=#{userId}
    </select>

    <select id="selectRespondentByDiaryId" resultType="java.util.HashMap">
        select user_info.id,nick_name,avatar_url,sex
        from user_info,diary
        where user_info.id=diary.publisher_id and diary.id = #{diaryId}
    </select>

    <select id="selectReviewerByDiaryId" resultType="java.util.HashMap">
        select user_info.id,nick_name,avatar_url,sex
        from user_info,comment
        where user_info.id=reviewer and comment.id=#{commentId}
    </select>

    <select id="selectAdmirerById" resultType="java.util.HashMap">
        select id ,avatar_url
        from user_info
        where id=#{admirerId}
    </select>

    <select id="selectUserById" resultType="java.util.HashMap">
        select id,nick_name,sex,avatar_url
        from user_info
        where id=#{userId}
    </select>

    <select id="selectAdmirerNameById" resultType="java.util.HashMap">
        select id ,nick_name
        from user_info
        where id=#{admirerId}
    </select>
</mapper>